<div class="form-wrapper">
	<h1>Sign In</h1>
	<%= form_tag:session,id: "login_form" do %>
		<div class="form-item">
			<label>ログインID:</label>
			<input type="text" name="id">
		</div>

		<div class="form-item">
			<label>パスワード:</label>
			<input type="password" name="password">
		</div>

		<div class="button-panel">
			<input type="submit" class="button" value="ログイン">
		</div>
	<% end %>
	<div class="form-footer">
		<p><a href="#">Create an account</a></p>
		<p><a href="#">Forgot password?</a></p>
<% if flash.alert %>
	<p class="alert"><%= flash.alert %></p>
<% end %>
	</div>
</div>

